.cache/
.idea/workspace.xml
**/.idea/
**/.vs
*.iml
*.xml
*.xml
**/.yarn/cache

# release
dist/
unity_cv_datasetvisualizer.egg-info/
unity_component_library/components/*/build/
unity_vision/

# node_modules for the multiple react projects for each custom component
**/node_modules

# Streamlit component virtual environments
**/streamlit_components_react_projects/**/myvenv/
**/streamlit_components_react_projects/**/venv/
**/streamlit_components_react_projects/**/frontend/build